.footer{
  /* margin-top: 30px; */
  color: white;
}

.footerContent{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.disclaimer{
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  cursor: pointer;

}

.sunil:hover{
  color: #7571f9;
}

.socailmediaIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 20px;
}

.socailmediaIcon a{
  color: white;
}



.go_To_Top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7372f9; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.icon {
  color: #ffffff; 
  font-size: 54px;
}


/* ********************media queries****************** */

@media screen and (max-width: 960px) {
  .footerContent{
      flex-wrap: wrap;
  }
  
}
