.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  /* position: relative; */
}

.logos {
  width: 100px;
  height: auto;
}

.navlink {
  list-style: none;
  display: flex;
  align-items: center;
}

.navlink li {
  position: relative;
}

.navlink a {
  /* color: #fff; */
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navlink a:hover {
  /* color: #7371f9; */
}

.menu_child {
  color: white;
  cursor: pointer;
}

.mega-menu :hover {
  color: black;
  transition: all 0.4s linear ease;
}

.mega-menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0; /* Change from left: 50% to right: 0 */
  width: 600px;
  background-color: #7371f9;
  padding: 10px;
  display: none;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: flex-start; /* Center items horizontally */
  gap: 3rem;
  border-top: 2px solid #d8d329;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navlink li:hover .mega-menu {
  display: flex;
  /* animation: slideIn 0.5s ease; */
}

.mega-menu a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
}

.mega-menu a:hover {
  color: #D52027;
}

/* Keyframes for the animation */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%); /* Start from outside the screen */
  }
  to {
    opacity: 1;
    transform: translateX(0%); /* Move in to the screen */
  }
}

.hamburgerMenu {
  color: #fff;
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 660px) {
  .navlink {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0; /* Change from left: 0 to right: 0 */
    width: 100%;
    /* background-color: #00f; */
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }

  .hamburgerMenu {
    display: block;
    font-size: 34px;
  }

  .right_ourProcess img {
    width: 100%;
  }

  .navlink.show {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 23px;
    font-size: 23px;
    padding: 23px;
    animation: slideIn 0.5s ease;
  }
  /* Keyframes for the animation */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(100%); 
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }
}
