.socialMediaNavbar a{
    color: white;
}

.socialMediaBg{
    background-image: url('/img/mainbg2.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
}



.socialMedia_priceCard {
    width: calc(33.33% - 20px);
    /* height: 900px; */
    /* background-color: #f40000; */

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: none; /* Hide all cards by default */
    border: 1px solid gray;
}

.socialMedia_priceCard.active {
    display: block; /* Show the active card */
}

.socialMedia_priceCard h5 {
    margin-top: 0;
}

.socialMedia_priceCard hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
}




.socialMedia_featuresCardData p {
    margin: 5px 0;
    line-height: 40px;
}


/* for tick with blue color */
.socialMedia_featuresCardData {
    padding-left: 15px; 
}

.socialMedia_featuresCardData p {
    position: relative;
    margin: 10px 0;
    padding-left: 20px; /* Adjust as needed */
}

.socialMedia_featuresCardData p:before {
    content: "\2022"; /* Checkmark Unicode character */
    color: #55ff00fe; /* Tick mark color */
    font-size: 28px; /* Tick mark size */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* for tick with blue color end here */









/* Media Query for 1100px and below */
@media screen and (max-width: 1100px) {
    .socialMedia_priceCard {
        width: 100%; /* Make cards full width */
    }

    .priceButtons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .priceButtons button {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .priceButtons button.active {
        background-color: #7371f9;
        color: white;
    }

    /* Hide cards when below 1100px */
    .socialMedia_priceCard {
        display: none;
    }

    /* Show active card when below 1100px */
    .socialMedia_priceCard.active {
        display: block;
    }
}

/* Media Query for screens larger than 1100px */
@media screen and (min-width: 1101px) {
    .priceButtons {
        display: none; /* Hide buttons */
    }

    /* Show all cards when above 1100px */
    .socialMedia_priceCard {
        width: calc(33.33% - 20px);
        display: block;
    }
}
