.serviceNavbar a{
  color: #fff;
}

/* .serviceBg{
  background-image: url('./img/asset 63.png');
  background-size: cover;
  background-position: center;
} */

.services {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.left_services_section {
  width: 50%;
  color: white;
  background: url('/img/asset 60.png');

}
.title {
  color: #7371f9;
  font-size: 19px;
  font-weight: bold;
}
.secondryHeading {
  margin-top: 24px;
  margin-bottom: 34px;
  /* color: #0f110f; */
  color: white;
  font-size: 3rem;
}
.discoBtn {
  padding: 18px 43px;
}

.discoBtn:hover{
  background-color: #7371f9;
  color: white;
  transition: all 0.4s ease;

  
}

.marginPara {
  margin-top: 24px;
  margin-bottom: 34px;
}
.para {
  color: #353535;
}

.right_services_section {
  width: 50%;
  color: white;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.childCard {
  width: calc(50% - 20px);
  height: 34vh;
  padding: 23px;
  border-radius: 8px;
  box-shadow: 0 6px 20px #0003;
  border: 1px solid gray;
}
.childCard {
  position: relative;
  width: calc(50% - 20px);
  height: 34vh;
  padding: 23px;
  border-radius: 8px;
  box-shadow: 0 6px 20px #0003;
  border: 1px solid gray;
  overflow: hidden;
}
.childCard:hover{
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.childCard h3{
  margin-top: 12px;
  margin-bottom: 12px;
}

/* .childCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
} */

/* .childCard:hover::before {
  opacity: 0.8;
} */
/* 
.childCard:nth-of-type(1)::before {
  background-image: url("/img/asset 61.png"); 
}

.childCard:nth-of-type(2)::before {
  background-image: url("/img/asset 62.png"); 
}

.childCard:nth-of-type(3)::before {
  background-image: url("/img/asset 63.png"); 
}

.childCard:nth-of-type(4)::before {
  background-image: url("/img/asset 64.png"); 
} */

/* .childCard::after {
  content: attr(data-text); 
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.childCard:hover::after {
  opacity: 0.8;
} */


.serviceIcon{
  width: 20%;
}




/* **************************************media queries start************************************** */

@media screen and (max-width: 1100px) {
  .services{
    flex-direction: column;
  }
  .right_services_section {
    width: 100%;
    margin-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
  }
   .left_services_section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  
}


@media screen and (max-width: 650px) {
  .childCard {
    width: calc(100% - 20px);
    height: 34vh;
    padding: 23px;
    border-radius: 8px;
    box-shadow: 0 6px 20px #0003;
    border: 1px solid gray;
  }
  
}


